# Virtual environment
.venv/
.DS_Store
./.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
oauth_credentials.json
*.csv
*.json
.vscode
var/logs/
var/exports/
*.mmd
gcr-variable.txt
env_exports.txt
temp.db
