google-cloud-bigquery
google-auth
Flask
python-dotenv
SQLAlchemy
psycopg[binary]
openai
pinecone
requests
markdown-it-py
gunicorn
psycopg2-binary 
google-cloud-storage
google-cloud-sql-python-connector[psycopg2]
pinecone-client